$primaryColor:#323232;
$accentColor:#F24405;
$backgroundColor: rgba(255, 255, 255, 0.9);

$fontbold: bold;

$padding:24px;

$displayflex: flex;
$displayinlineblock: inline-block;

@mixin section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: $padding 0;
    border-bottom: 1px solid lightgrey;
}

@mixin section-title {
    font-weight: $fontbold;
    font-size: 18px;
    color: $accentColor;
}

html {
    height: 100%;
    background-image: url("https://i.imgur.com/lDPtUWa.jpg");
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


@mixin a {
    color: $primaryColor;
    text-decoration: none;
    
    :hover {
        text-decoration: underline;
        color: $accentColor;
    }
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color:$primaryColor;
    max-width: 100%;

    .container {
        max-width: 960px;
        margin: 40px;
        padding:$padding*4/3;
        background: $backgroundColor;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
        section {
            @include section;

            .section-title {
                @include section-title;
            }

            last-child {
                border-bottom: none;
            }

            .section-main-info {

                img.avatar {
                    width: 130px;
                }
                
            }

        }
    
    }

}

//MAIN INFO//

.my-name {
    font-size: 48px;
    line-height: 1;
}

.my-title {
    font-size: 24px;
    font-weight: 300;
    color: $accentColor;
}

.links {
    display: $displayflex;
    margin: 10px 0 20px 0;
}

.link-item {
    display: $displayflex;
    align-items: center;
    flex: 1;
}

.link-item svg {
    margin-right: 6px;
    @include a;
}

//EXPERIENCE//

section {
    @include section;

    .section-title {
        @include section-title;

        .job {
            padding-bottom: $padding;
            margin-bottom: 24px;
            border-bottom: 1px solid lightgray;

            :last-child {
                border-bottom: none;

            }

            .job-title-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                font-size: 18px;

                .job-company{
                    font-weight: bold;
                    line-height: 1.2;

                }
            }
        }
    }
}