html {
    background-image: url("https://i.imgur.com/lDPtUWa.jpg");
    background-color: #cccccc;
    height: 118.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    background-color: rgba(204, 204, 204, 0.7);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . . ." ". . . .";
  }

.profilepicture {
    border-radius: 50%;
    border: 1px #F24405 solid;
    display: inline-block;
    margin-left: 40%;
}

h1 {
    color: white
}

[class*="Columns"] {
    width: 100%;
    }

@media only screen and (min-width: 600px) {
    body {}
}

@media only screen and (min-width: 768px) {
    body{}
}